*{
    font-family: 'Open Sans', sans-serif;
}

#textoBienvenida{
    font-size: large;
    font-weight: bold;
}

#bienvenido{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

#opcionesNav>li>a{
    color: #EE6055;
    font-weight: bold;
}

body {
    background-image: url("img/breakfast-omelette-with-radish-green-arugula-sandwich-with-salmon-white-plate-frittata-italian-omelet-top-view (1).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}

#navbar{
   background: linear-gradient(to right, #7ade56, rgba(255, 255, 255, 0));

}

#logo{
    display:block;
    margin:auto;
}


#nombreApp{
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}

.footer {
    object-position: bottom;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to top, #7ade56, rgba(255, 255, 255, 0));
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 0, 50% 100%);
}

.cards-wrapper {
    display: flex;
    justify-content: center;

}

.cards-wrapper img{
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    padding: 10px;
    background-color: rgba(110, 108, 108, 0.5);
}

.card img {
    max-width: 100%;
    max-height: 100%;

}
.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;

}
.carousel-inner {
    padding-right: 10em;
    padding-left: 10em;

}

.carousel-indicators>button{
    border-radius: 50%;
    background-color: #404040;
}

#atras >span{
    background-color: rgba(110, 108, 108, 0.5);

}

#siguiente >span{
    background-color: rgba(110, 108, 108, 0.5);
}